<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #2c3e50; /* Dark background */
            color: #ecf0f1; /* Light text color */
        }
        .main {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            max-width: 600px;
            padding: 20px;
            border-radius: 10px;
            background-color: #34495e; /* Dark blue container background */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #ecf0f1; /* Light text color */
            margin-bottom: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        label {
            margin-bottom: 10px;
            font-size: 1.2em;
        }
        input[type="text"],
        input[type="password"] {
            padding: 10px;
            width: calc(100% - 20px);
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 1em;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #2980b9; /* Blue button background */
            color: #ecf0f1; /* Light text color */
            cursor: pointer;
            font-size: 1em;
        }
        button:hover {
            background-color: #3498db; /* Lighter blue button hover */
        }
        a {
            color: #3498db; /* Light blue link color */
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        p {
            margin-top: 20px;
        }
      
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="main">
        <h1>Signup</h1>
        <form action="/user" method="post">
            <label>Full name</label>
            <input type="text" required name="name">
            <label>Email</label>
            <input type="text" required name="email">
            <label>Password</label>
            <input type="password" required name="password">
            <button type="submit">Signup</button>
        </form>
    </div>
   
</body>
</html>
